<div class="card checkinslist">
    <h1>Project: {{wsnameOb.name}}</h1>
    <h1>Creation date: {{wsnameOb.date | date : "MMM d,yy h:mm a"}}</h1>
    <h1>Category: {{wsnameOb.category }}</h1>
    <h1>About: {{wsnameOb.bio}}</h1>
    <h1>Author: {{wsnameOb.authorFN}} {{wsnameOb.authorLN}}</h1>
    
    <ul class="userlist cf">
        <li ng-repeat="checkIn in checkIns">
            <div class="checkin">
                <div class="buttons">

                    <button class="btn btn-delete tooltip"
                    ng-click="deleteCheckin(checkIn.$id,whichproject)"><span>Remove from Workspace</span></button>
                
                </div>
                <div class="info">
                        <div class="card">
                                
                        <img width="200" height="200" class="thumbnail" ng-src="{{checkIn.userimage}}"></a>   
                                
                        </div>
                    <h2>
                       {{checkIn.firstname}} {{checkIn.lastname}}
                       
                    </h2>
                    <h2>
                            {{checkIn.email}} 
                            
                    </h2>
                    <div class="date">
                            <p1>Joined:</p1>  {{checkIn.date | date : "MMM d,yy h:mm a"}}
                    </div>

                </div>
            </div>
        </li>

    </ul>
</div>

<div class="card meetings cf">
    <h1>Posting</h1>
    <div  ng-repeat="work in messages">

        <div class="card meetings cf">
        <h2>{{work.message}}</h2>

        <div class="date" ng-model="thePerson">
            {{work.date | date:"MMM d h:mm a"}} &nbsp; {{work.sender | uppercase}}
        </div>

    </div>
</div>


<form name="myform"
    ng-submit="addPost()"
    novalidate>



    <fieldset>
    <input type="text" name="myPost" placeholder="post..."
    ng-model="user.myPost" ng-required="false">
    <p class="error validationerror"
    ng-show="myform.myPost.$invalid && myform.myPost.$touched">
    Post required</p>
    </fieldset>

    <button type="submit" class="btn"
    ng-disabled="myform.$invalid">post</button>
</form>
</div>



