<div class="card checkinslist">
    <h1>{{pn.name}}</h1>
    <ul class="userlist cf">
        <li ng-repeat="checkIn in checkIns">
            <div class="checkin">
                <div class="buttons">

                        <button class="btn btn-delete tooltip"
                        ng-click="deleteCheckin(checkIn.$id,checkIn.uid)"><span>Delete this person</span></button>
                
                </div>
                <div class="info">
                    <h2>
                       {{checkIn.firstname}} {{checkIn.lastname}} {{checkIn.uid}}
                       
                    </h2>
                    <div class="date">
                        {{checkIn.date | date : "MMM d,yy h:mm a"}}
                    </div>

                </div>
            </div>
        </li>

    </ul>
</div>
