<section class="artistinfo">
    <div class="artist cf" ng-model="theThings">
        <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
        <a href="#/details/{{nextItem}}" class="btn btn-left">&gt;</a>
        <h1>{{theThings[whichItem].name}}</h1>
        
        <div class="info">

             <img ng-src="images/icons/{{theThings[whichItem].category}}.png">
            <div class="bio">{{theThings[whichItem].bio}}</div>


            </div>
        </div>
        <!-- <script>
        $scope.userid = {{theThings[whichItem.userId]}}
        var user = $scope.userid;
        </script> -->
        <a href="#/search">&laquo; Back to search</a>
        <a class="btn btn-checkin tooltip"
        ng-href="#/checkIns/{{currentUser.regUser}}/{{theThings[whichItem].$id}}"><span>colab</span></a>

        
        












</section>